body {
  background-color: #4F709C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the body take the full viewport height */
  font-family: 'EB Garamond', serif;
}

.container {
  display:flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;

}

#title {
  color:#E5D283;
  font-size: 36px;
  text-align: center;
}

#today {
  color:#E5D283;
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

#content {
  border: 2px solid #E5D283;
  padding: 10px;
}

#quote {
  color:#E5D283;
  font-size: 24px;
  text-align: center;
}

#author {
  color:#E5D283;
  font-size: 24px;
  text-align: right;
}